<a href="https://colab.research.google.com/github/prljylopez/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [46]:
for x in week:
  print(x)
  if x=="Thursday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [14]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through string

In [47]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

range() function

In [48]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [18]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

For loop statement

In [45]:
values=["Value 0", "Value 1", "Value 2", "Value 3", "Value 4", "Value 5"]

for x in values:
  print(x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5

While loop statement

In [30]:
i = 10
while i>6:
  print(i)
  i-=1 #assignment operator for substraction

10
9
8
7

Break statement

In [20]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [32]:
i = 10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)
  i-=1

9
7

continue statement

In [28]:
i=10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6

In [33]:
i = 10 
while i>0:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6
5
4
3
2
1
0

the else statement

In [23]:
i=10
while i>6:
  i=i-1
  print(i)
else:
  print("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

Appliation 1

In [50]:
#While Loops
i = 0
while i<11:
  print("Value", i)
  i+=1 #assignment operator for addition

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [51]:
#For Loops
values=["Value 0", "Value 1", "Value 2", "Value 3", "Value 4", "Value 5", "Value 6", "Value 7", "Value 8", "Value 9", "Value 10"]
for x in values:
  print(x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Appliation 2

In [36]:
i=20
while i>3:
  i=i-1
  print(i)
  if i==4:
    break

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4